location = /favicon.ico {
    log_not_found off;
    access_log off;
}

location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
}

# This matters if you use drush
location = /backup {
    deny all;
}

# Very rarely should these ever be accessed outside of your lan
# location ~* \.(txt|log)$ {
#   allow 192.168.0.0/16;
#   deny all;
#}

location ~ \..*/.*\.php$ {
    return 403;
}

location / {
    ModSecurityEnabled {{ modsecurity_status }};
    ModSecurityConfig modsecurity.conf;
#    proxy_pass http://127.0.0.1:8011;
#    proxy_read_timeout 180s;

    # This is cool because no php is touched for static content
    try_files $uri @rewrite;
}

location @rewrite {
     # Remove double slash
     rewrite ^//(.*)+      $scheme://$host/$1  permanent;

     # Remove trailing slash
     rewrite ^/(.*)/$      $scheme://$host/$1  permanent;

     # Rewrite rule for node 750
     rewrite ^/PeerDirectory/750(\?.*)?$ /node/750$1 last;

     # ecar virtual
     rewrite  ^ecar-virtual(/)?.*$ https://net.example.com/$1 last; 

     # inxpo 
     rewrite ^/(T|t)est(/)?Inxpo.*$ https://vts.inxpo.com/scripts/Server.nxp\?LASCmd=AI:4\;F:APIUTILS!10&amp last; 

     # ir resources
     rewrite ^/ir/(.*)$ https://net.example.com/ir/$1 last;

     # Ensure this is the LAST rule
     # Some modules enforce no slash (/) at the end of the URL
     rewrite ^/(.*)$ /index.php?q=$1 last;

}

## buffer size configureation:
## DTWEB3 Response times:
## max: 19629913
## avg: 61525
##
## max derived from prod-web3 access file using following command:
## awk '($9 ~ /200/)' www_nginx_access.log | awk '{print $10}' | sort -nr | head -n
## 
## avg derived from prod-web3 access file using following command:
## echo $(( `awk '($9 ~ /200/)' www_nginx_access.log | awk '{print $10}' | awk '{s+=$1} END {print s}'` / `awk '($9 ~ /200/)' www_nginx_access.log | wc -l` ))
## 
## Need 20MB, or 20,000,000k
## Buffer sizes provided below are extremely large.  Specific to example.com.

location ~ \.php$ {
    root {{ document_root }};
    fastcgi_buffer_size 512k;
    fastcgi_buffers 48 512k;
    fastcgi_busy_buffers_size 1024k;
    fastcgi_connect_timeout 75;
    fastcgi_index index.php;
    fastcgi_max_temp_file_size 40m;
    fastcgi_param PATH_INFO $fastcgi_script_name;
    fastcgi_param SCRIPT_FILENAME {{ document_root }}$fastcgi_script_name;
    fastcgi_pass phpfpm;
    fastcgi_read_timeout 300;
    fastcgi_send_timeout 300;
    fastcgi_temp_file_write_size 20m;
    include fastcgi_params;
}

# Fighting with ImageCache? This little gem is amazing.
location ~ ^/sites/.*/files/imagecache/ {
    try_files $uri @rewrite;
}

# Set expire times for css and js files generated by Drupal
location ~ ^/sites/default/files/css/  {
     expires 30m;
     log_not_found off;
}

location ~ ^/sites/default/files/js/  {
     expires 30m;
     log_not_found off;
}

# Set cache for all these file extensions to 30 days, no less.
location ~* \.(asc|bat|cgi|css|csv|dat|doc|docx|dll|eot|exe|flv|gif|gz|gzip|htm|htmll|ico|ics|jpe|jpeg|jpg|js|mov|mp3|mp4|mpg|mpeg|otf|pdf|pl|png|ppt|pptx|svg|swf|tar|tgz|ttf|txt|woff|xls|xlsx|xml|zip)$ {
     expires 30d;
     log_not_found on;
}
